@{
  Layout = "_Layout";
}
  @using Factory.Models;

  <div class="jumbotron text-center">
    <h1>Welcome to Dr. Sillystringz's Factory!</h1>
    <img src="https://media.istockphoto.com/id/469400194/vector/crazy-scientist.jpg?s=612x612&w=0&k=20&c=NUUt3oYdPHbewfeVQXjXnllSf89mQcmDg4WWZBEvUzY=" alt="Sillystringz" width="30%" length="30%">
  </div>
  <br>
  <hr>

  <h4>Locations:</h4>
  @if (Model["locations"].Length == 0)
  {
    <p>No Locations have been added yet!</p>
  } 
  <ul>
    @foreach (Location location in Model["locations"])
    {
      <li>@Html.ActionLink(@location.LocationName, "Details", "Locations", new { id = @location.LocationId})</li>
    }
  </ul>

  <h4>Machines:</h4>
  @if (Model["machines"].Length == 0)
  {
    <p>No Machines have been added yet!</p>
  } 
  <ul>
    @foreach (Machine machine in Model["machines"])
    {
      <li>@Html.ActionLink(@machine.MachineName, "Details", "Machines", new { id = @machine.MachineId})</li>
    }
  </ul>

  <h4>Engineers:</h4>
  @if (Model["engineers"].Length == 0)
  {
    <p>No Engineers have been added yet!</p>
  } 
  <ul>
    @foreach (Engineer engineer in Model["engineers"])
    {
      <li>@Html.ActionLink(@engineer.EngineerName, "Details", "Engineers", new { id = @engineer.EngineerId})</li>
    }
  </ul>

  <hr> 
  <br>
  <div id="index-nav">
    <p>@Html.ActionLink("See all Machines", "Index", "Machines")</p>
    <p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p> 
    <p>@Html.ActionLink("See all Factory Locations", "Index", "Locations")</p>
  </div>